.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 4rem 2rem;
}

.onboarding-page {
  align-items: center;
}

.onboarding-form {
  width: 680px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile */
@media (max-width: 700px) {
  .page-wrapper {
    padding: 2rem
  }

  .onboarding-form {
    width: 100%;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .form-wrapper {
    width: 100%;
    gap: 3rem;
  }

  .form {
    gap: 3rem;
  }

  .form-actions {
    flex-direction: column;
    gap: 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
