.grid-item-with-separator:not(:first-of-type) {
  border: 0;
  border-left: 1px dashed grey;
}

.text-field--sm {
  max-width: 380px;
}

.text-field--md {
  max-width: 450px;
}

.text-field--lg {
  max-width: 580px;
}

/* Mobile */
@media (max-width: 700px) {
  .grid-item-with-separator:not(:first-of-type) {
    border: 0;
    border-top: 1px dashed grey;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
