.text-field {
  min-width: 380px;
  max-width: 500px;
}

.form-control {
  height: calc(100vh - 8rem);
  width: calc(100vw - 12rem);
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
}
